._7cwj{
    display: flex;
  align-items: center;
  margin-left: 20px;
}
._7qal{
    margin-left: 20px;
}

._3mic, ._3xze, ._6xcd, ._1csm{
    padding: 15px 0px;
}
._9occ{
    background-color: white;
    padding: 20px;
}