.bg-whole {
    background-color: rgb(237, 237, 237);
 
  }
.filters-heading{
    padding-left: 15px;
}
.tabs-container {
    padding: 15px; 
  }
  
 ._9rwr .totalgrid{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    margin: 10px;
  }
  
  .product-image img{
    width: 90%;
    margin-top: 20px;
  }
  .product-details h3{
    font-size: 17px;
  }
  .product-details p{
  font-weight: 600;
    color: #878787;
  }
  .product-details p span{
    background-color: green;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
  }
  .product-price{
    margin: 0;

  }
  .product-price p:nth-child(1) {
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
    padding: 15px;
  }
  .product-price p:nth-child(2) {
    margin: 0px;
    font-size: 14px;
    color: #878787;
    font-weight: 500;
    padding-left: 15px;
    padding-bottom: 10px;
    
  }
  .product-price p span{
    color: #388e3c;
  }
  .product-price p:nth-child(3) {
    margin: 0px;
    padding-left: 15px;
    font-size: 14px;
  }
  .product-price p:nth-child(4) {
    margin: 0px;
    padding-left: 15px;
    color: #388e3c;
    font-weight: 500;
    padding-top: 10px;
  }
  .product-price p:nth-child(5) {
    margin: 0px;
    padding-left: 15px;
    color: #388e3c;
    font-size: 16px;
    font-weight: 500;
  }

  ._9rwr .refect-din {
    padding: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

._9rwr .refect-din ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

._9rwr .refect-din ul li a {
  width: 34px;
  height: 34px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(114, 114, 175);
  font-weight: 600;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(226, 226, 226);
  cursor: pointer;
}

._9rwr .refect-din ul li.selected a {
  color: white;
  background-color: rgb(114, 114, 175);
}

._9rwr .refect-din ul li.disabled a {
  visibility: hidden;
}

._2atk {
  background-color: white;
  flex: 1;
  height: fit-content;
}

._2atk h4 {
  all: unset;
}

._9rwr .right-grid {
  background-color: white;
  padding: 15px;
  flex: 4;
}

._2atk .bullion-fuki .header {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid rgb(233, 233, 233);
  font-weight: 600;
}

._2atk .container {
  padding: 20px;
}

