._2tzj{
    display: flex;
flex-direction: row;
}
._5pjn ._5azh{
    font-size: 18px;
    font-weight: 500;
    padding: 24px 32px;
    border: 1px solid #f0f0f0;
}
._5pjn  ._2tzj{
    padding: 18px;
    border: 1px solid #f0f0f0;
}
._5pjn ._4lms{
    padding-top: 8px;
}
._2tzj img{
    height: 70px;
    width: 70px;
    padding-right: 20px;
}
._2kgo{
    padding: 10px 0;
} 
._2kgo ._6guh{
    font-size: 12px;
    font-weight: 650;
    color: #878787;
}