 ._7apj {
    padding: 2rem;
  }
  
  ._7apj .image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  ._7apj .product-des textarea{
 width: 445px;
  }
  ._7apj .display-image img, .uploadedimage-img img{
    width: 100px;
    object-fit: contain;
  }
  ._7apj .table-container-iort{
    background-color: white;
    padding: 15px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  ._7apj .table-container{
    background-color: white;
    padding: 15px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

._7apj .table-head{
    width: 100%;
   
}

._7apj .table-data td{
    text-align: center;
}
._7apj .table-head .table-row{
    background-color: antiquewhite;
}
._7apj ._1ort-save button{
    border-radius: 8px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    width: fit-content;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    background-color: rgb(0, 102, 204);
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    margin-top: 10px;
}
._7apj .custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#fileInput {
    display: none;
}
