._6yvj{
     display: flex !important;
}
._5vkm{
    padding: 20px 0px 0px;
    text-align: center;
}
._8he{
    padding: 10px;
    height: 150px;
}
._8he h6{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #9d7910 !important;
}
._4caa{
    padding: 10px;
}
._4caa h6{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
  color: #9d7910 !important;  
}
._3jcz{
     display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}
._1syw{
    display: flex;
    flex-direction: column;
    justify-content: center;
}