._9tpk {
    margin: 0;
    padding: 0 !important;
    width: 100% !important;
}

._0mrg {
    border-radius: 10px;
    margin: 5px 0px 0px 40px !important;
    background-color: #f5faff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 90% !important;
}

._4vwf {
    margin: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form_control {
    padding: 25px 0px 0px 20px;
    width: 65%;
}

._4jki {
    padding: 20px 0px 0px 20px;
    color: blue;
}

._7mzz {
    padding: 1px 0px 25px 20px;
}

._4jpo {
    display: flex !important;
    flex-direction: row !important;
}

._6gpx {
    height: 48px;
    width: 230px;
    margin: 25px 0px 25px 25px !important;
}

._7gpx {
    height: 48px;
    width: 100%;
}

._0dhm {
    border-radius: 10px;
    margin: 5px 0px 0px 40px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 90% !important;
}