._1evn {
  padding-top: 20px;
}


._7oqi,
._1evn,
._6xab {
  display: flex;
  flex-direction: row;
}

._7oqi{
  border-bottom: 1px solid rgb(207, 207, 207);
}
._7oqi ._8dlm img {
  min-height: 300px;
  min-width: 300px;
  border: 1px solid #f0f0f0;
  padding: 20px 40px;
}

._6rkq {

  position: relative;
  position: sticky;
  top: 0;
}
.heart{
  position: absolute;
  top: 8px;
  right: 11px;
  border-radius: 50%;
  padding: 8px 8px 5px 8px;
  background-color: white;
  border: 1px solid var(--color-grey-grade1);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  
    
  
}
.heart path{
  color: #c2c2c2;
}

._6ucv {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}

._6ucv ._1nsd {
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}

._6ucv ._1wop {
  padding-left: 8px;
  font-weight: 500;
  color: #878787
}

._0otr {
  padding: 0px 0px 0px 24px;

}

._0otr ._3zmm {
  font-weight: 500;
  text-align: left;
  color: #388e3c;
  margin: 12px 0px;
}

._0nzc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

._0otr ._0nzc ._0ihh {
  font-weight: 500;
  color: #212121;
  font-size: 28px;
}

._0nzc ._0ilx {
  font-size: 16px;
  margin-left: 12px;
  vertical-align: middle;
  color: #878787;
  text-decoration: line-through;
}

._0nzc ._9phl {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #388e3c;
}

._5onx li {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}

._2evw ._7sfp {
  font-size: 16px;
  font-weight: 600;
  color: #212121;
}

._2evw {
  margin-top: 10px;
}

._6ucv img {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

._6ucv li {
  list-style: none;
}

._6ucv li span {
  color: #212121;
  font-weight: 600;
  padding-right: 4px
}

/* ._5dlv{
    border: none;
    background-color: none !important;
    color: #2874f0;;
} */
.product-image {
  transition: filter 0.3s ease-in-out;
}

.blue-color {
  filter: hue-rotate(240deg);
}

.red-color {
  filter: hue-rotate(0deg);
}

._3vpa {
  display: flex;
  flex-direction: row;
  margin-left: 50px !important;
}

._4flh {
  padding: 0 8px;
}

._4flh img {
  width: 50px;
  border: 1px solid #f0f0f0;
  padding: 0 10px;
  cursor: pointer;
}

._1wgw {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  margin-right: 30px;
}

._1wrq {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

._3vpa ._6gxj {
  padding: 6px 10px;
  border: 2px solid #e0e0e0;
  border-radius: 2px;
  min-width: 36px;
  max-height: 25px;
  margin-right: 15px;
  cursor: pointer;
}

._1xyh {
  margin-right: 30px;
}

._1xyh li {
  margin-left: 30px;

}

._3eqk {
  margin-top: 15px;
  font-size: 16px;
  color: #6b6b6b;
  font-weight: 600;
}

._3ytp p {
  margin-left: 15px;
  font-size: 14px;
}

._4lay ._2syx {
  font-size: 18px;
  font-weight: 500;
  padding: 24px 32px;
  border: 1px solid #f0f0f0;
}

._4lay ._8gyy {
  padding: 18px;
  border: 1px solid #f0f0f0;
}

._8gyy {
  display: flex;
  flex-direction: row;
}

._8gyy img {

  height: 70px;
  width: 70px;
  padding-right: 20px;
  padding-top: 20px;

}

._4lay ._2ska {
  padding-top: 8px;
}

._9xzv {
  padding: 10px;
}

._9xzv ._3sst {
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);

  border: none;
  float: left;
  background-color: #ff9f00;
  color: white;
  min-width: 170px;
  margin-right: 20px;
}

._9xzv ._3sst:hover {
  color: #ff9f00;
}

._9xzv ._8off {
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);

  border: none;
  float: left;
  background: #fb641b;
  color: white;
  min-width: 170px;
}

._9xzv ._8off:hover {
  color: #fb641b;
}

._3isz img {
  width: 50px;
  padding-right: 15px;

}

._3xam,
._2qvz,
._5tht {
  display: flex;
  flex-direction: row;
}

._3xam {
  margin-left: 40px;
}

._4qhw {
  padding: 5px 15px;
  border: 1px solid rgb(75, 75, 75);
  margin: 0 10px;
}

._4lay {
  margin-bottom: 20px;
  margin-top: 20px;
}

._4lay .container .nocturne-tag {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 32px;
  border: 1px solid #f0f0f0;
  border-top: transparent;
}

._4lay .container .nocturne-tag.frees-cam {
  flex-direction: row-reverse;
}

._4lay .container .nocturne-tag h3 {
  all: unset;
  color: rgb(43, 43, 43);
  font-size: 18px;
  font-weight: 500;
}

._4lay .container .nocturne-tag p {
  font-size: 15px;
  color: rgb(70, 70, 70);
}
._5pwk{
  margin-top: 25px;
}
.Delivery-field{
  display: flex;
  flex-direction: row;
}
.Delivery-field-side{
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid #2874f0;

}
.Delivery-field .delivery-field-content{
  color: #878787;
  font-weight: bolder;
    width: 110px;
    padding-right: 10px
}
._5bhq input{
  font-weight: 600;
    font-size: 14px;
    border: none;
    outline: none;
    width: 160px;
    padding-left: 6px;
    vertical-align: middle;
}
.check-button-delivery{
  margin-left: 10px;

}
.check-button-delivery button{
  border: none;
  color: #2874f0;
  font-weight: bolder;
  background-color: white;
}
.Delivery-field-side svg{
  fill: #2874f0;
  margin-top: 3px;
}
._9yoc{
  display: flex;
  align-items: center;
  margin: 0px 0 0 120px;
}
.delivery-by-tom {
  display: flex;
}
.delivery-by-tom p{
  font-weight: bolder;
  padding-right: 5px;
  font-size: 14px;
}
.free-40 :nth-child(2){
  color: #388e3c;
  padding: 0 5px;
  font-size: 14px;
}
.free-40 :nth-child(3){
  color: #878787;
    text-decoration: line-through;
    font-weight: bolder;
    font-size: 14px;
}
._9yoc-delivery-delivery{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
._5bzr{
  
}
.questions-answers{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
    font-weight: 500;
    padding: 24px 32px;
    border: 1px solid #f0f0f0;
}
.questions-answers ._2rdj{
  font-size: 24px;
    font-weight: 500;
}
.options-q{
  border: 1px solid #f0f0f0;
  border-top: transparent !important;
    padding: 18px 32px;
    font-size: 14px;
}
.options-q .options-question{
  font-weight: 550;
    margin-right: 4px;
}
.options-q span:nth-child(2){
  font-weight: 550;
}
.answers-a{
  margin-top: 10px;
}
.answers-a :nth-child(1){
  font-weight: 550;
  margin-right: 5px;
}
.answers-a :nth-child(2){
  font-weight: normal !important;
}
._3fkx{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.xonight .xonight-ecom{
  color: #878787;
  font-weight: bolder;
  font-size: 12px;
}
.Flipkart-Seller{
  margin-top: 8px;
  color: #878787;
  font-weight: bolder;
  font-size: 12px;
  
}
.likes-dislike{
  display: flex;
  align-items: center;
}
.likes-dislike .like{
   color: #797979;
  text-align: center;
  margin-left: 24px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bolder;
}
.like svg, .dislike svg{
  width: 18px;
    height: 16px;
    padding-right: 5px;
}
.like, .dislike{
  display: flex;
}
.likes-dislike .dislike{
  color: #797979;
 text-align: center;
 margin-left: 24px;
 font-size: 12px;
 cursor: pointer;
 font-weight: bolder;
}
.riarrowdrop svg{
  font-size: 35px;
  color: #797979;

}
._0qof{
  border: 1px solid #f0f0f0;
  border-top: transparent !important;
}
._0qof button{
  border: none;
  background-color: white;
  padding: 28px;
  color: #2874f0;
  font-weight: bolder;
  font-size: 16px;
}