/* Add your custom styling here */
._2ydi {
  display: flex;
  flex-direction: column;

  justify-content: center;
}

._2ydi .step-content {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

._2ydi .step {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 50px 36px 50px;
  margin: 20px;


}


._2ydi .otp-fields {
  display: flex;
  margin-top: 10px;
}

._2ydi .otp-fields input {
  height: 36px;
  border: 1px solid rgb(193, 199, 208);
  border-radius: 6px;
  font-size: 14px;
  caret-color: rgb(0, 102, 204);
  width: 36px !important;
}

._2ydi .otp-fields input {
  width: 30px;
  text-align: center;
  margin: 0 5px;
}


/* .categories-books button{
    /* border-color: rgb(0, 102, 204);
    color: rgb(0, 102, 204);
    background: rgba(0, 102, 204, 0.1);} */

.gstin-number {
  margin-top: 10px;
}

.registerback button:first-child {
  padding: 15px 30px;
  border: none;
  background: #2b77ffbd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.registerback button:nth-last-child(1) {
  padding: 15px 30px;
  border: none;
  background: #ec7819bd;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.registerback {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Rajesh_alachandra ._8biz {
  display: flex;
  flex-direction: column;
  width: 600px;

}

.Rajesh_alachandra {
  padding: 30px 50px 36px 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

._8biz .hello {
  padding: 6px;
}

._1olp {
  display: flex !important;
  flex-direction: column !important;
}

.send-otp-button {
  border: none;
  color: rgb(186, 214, 242);
}